.header {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70%;
}

.wrapper img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.wrapper h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Courgette", cursive;
  color: var(--color-secondary);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
  border-left: 2px solid var(--color-secondary-light);
  height: 70%;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper h2 {
    border-bottom: 2px solid var(--color-secondary-light);
    border-left: none;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 100%;
  }

  .wrapper img {
    width: 100%;
  }
}
