@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

:root {
  /* --color-primary: white; */
  --color-primary: #202020;
  --color-secondary: rgb(210, 186, 146);
  --color-secondary-light: rgb(255, 230, 188);
  --color-tertiary: #f0d574;
  --color-tertiary-dark: #c1943b;
  /* --color-secondary: rgb(232, 198, 169); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: var(--color-primary);
  overflow-x: hidden;
}

body {
  width: 100vw;
  background-color: var(--color-secondary);
  font-family: "Roboto", sans-serif;
  /* font-family: "Dosis", sans-serif; */
  /* font-family: "Baloo Tammudu 2", cursive; */
  -webkit-tap-highlight-color: transparent;
}

a,
a:hover,
a:focus,
a:active {
  display: block;
  text-decoration: none;
  color: inherit;
  outline: none;
}

.visible {
  opacity: 1;
  transition: all 1s ease-in-out;
}

.hidden {
  transform: translateY(6rem);
  opacity: 0;
}

.modal__img {
  display: block;
  width: 100%;
}
