.btn {
  display: block;
  margin-bottom: 6rem;
  margin-left: 10rem;
  padding: 0.4rem 0;
  border: 2px solid var(--color-primary);
  border-radius: 1rem 0 1rem 0;
  width: 8rem;
  text-align: center;
  color: var(--color-primary);
  position: relative;
  overflow: hidden;
  transition: color 0.6s, transform 1s ease-in-out, opacity 1s ease-in-out;
  background: none;
  z-index: 1;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50% 50% 0 0;
  width: 9rem;
  height: 0%;
  background: var(--color-primary);
  z-index: -1;
  transition: height 0.6s;
}
.btn:hover {
  color: var(--color-secondary);
}
.btn:hover::before {
  height: 200%;
}
