.navitem {
  font-size: 1.4rem;
  margin: 0 2rem 0 0;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.navitem:hover {
  color: var(--color-secondary-light);
}

.navitem:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0%;
  background-color: var(--color-secondary-light);
  transition: all 0.4s ease-in-out;
}

.active.navitem:after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .navitem {
    color: var(--color-primary);

    margin: 0 0 3rem 0;
    opacity: 0;
    transition: all 0.4s 0.4s ease-in-out;
  }
  .open {
    opacity: 1;
  }
}
