.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.navitem {
  font-size: 1.4rem;
  margin: 0 2rem 0 0;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.navitem:hover {
  color: var(--color-secondary-light);
}

.navitem:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0%;
  background-color: var(--color-secondary-light);
  transition: all 0.4s ease-in-out;
}

.active.navitem:after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .navmenu {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 7rem;
    height: 100vh;
    width: 100%;
    transition: clip-path 0.4s ease-in;
    clip-path: ellipse(0% 0% at 0% 0%);
    -webkit-clip-path: ellipse(0% 0% at 0% 0%);
    background-color: var(--color-secondary);
  }

  .navmenu--open {
    clip-path: ellipse(140% 140% at 0% 0%);
    -webkit-clip-path: ellipse(140% 140% at 0% 0%);
  }

  .navitem {
    color: var(--color-primary);

    margin: 0 0 3rem 0;
    opacity: 0;
    transition: all 0.4s 0.4s ease-in-out;
  }

  .navitem--open {
    opacity: 1;
  }
}
